body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: #ccc;
}

ul,
li {
  list-style: none;
}

#sidebar ul {
  display: block;
  width: 150px;
}

#sidebar ul.options li {
  padding: 2px;
  margin-bottom: 20px;
}
#sidebar ul li:hover {
  cursor: default;
}

#sidebar ul li ul.color-list {
  display: none;
  margin-bottom: -30px;
  margin-top: 10px;
  width: 50px;
}

#sidebar .clear-notes {
  color: rgb(124, 18, 18);
}

/* colors */
.yellow {
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

.white {
  color: whitesmoke;
}

/* page layout */
#page {
  display: grid;
  grid-template-columns: auto auto;
}

/* Note */
#notes {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 50px;
}
#notes .note {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 20px 20px auto;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(226, 232, 157, 0.8);
  background-color: rgb(237, 237, 130);
}
#notes .note p {
  overflow: auto;
  margin: 2px;
  padding: 5px;
  max-width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  cursor: default;
}

#notes .note p:focus {
  outline: none;
}

#notes .note button.delete-note {
  height: 20px;
  width: 20px;
  padding: 2px;
  align-content: center;
  color: red;
  background: whitesmoke;
  border: none;
  margin: 1px;
}
#notes .note button.edit,
#notes .note button.save {
  height: 20px;
  width: 20px;
  padding: 2px;
  align-content: center;
  color: black;
  background: whitesmoke;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.192);
  margin: 1px;
}

#notes .note button.edit,
#notes .note button.delete-note,
#notes .note button.save:focus {
  outline: none;
}
